{% extends 'base.html' %}

{% block content %}
<h2>Meu Histórico de Empréstimos</h2>
<table>
    <tr>
        <th>Livro</th>
        <th>Data de Empréstimo</th>
        <th>Data Prevista para Devolução</th>
        <th>Status</th>
    </tr>
    {% for emprestimo in emprestimos %}
    <tr>
        <td>{{ emprestimo.livro.titulo }}</td>
        <td>{{ emprestimo.data_emprestimo }}</td>
        <td>{{ emprestimo.data_devolucao_prevista }}</td>
        <td>{{ emprestimo.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
