<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Biblioteca - Genius Lab</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Sistema de Biblioteca - Genius Lab</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Início</a></li>
                {% if user.is_authenticated %}
                    {% if user.tipo_usuario == 'admin' %}
                        <li><a href="{% url 'cadastro_usuario' %}">Cadastrar Usuário</a></li>
                        <li><a href="{% url 'cadastro_livro' %}">Cadastrar Livro</a></li>
                        <li><a href="{% url 'registro_emprestimo' %}">Registrar Empréstimo</a></li>
                        <li><a href="{% url 'relatorio_emprestimos' %}">Relatórios</a></li>
                    {% else %}
                        <!-- Links para Leitores, se necessário -->
                        <li><a href="#">Meus Empréstimos</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Genius Lab by Jonas. Todos os direitos reservados.</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
