{% extends 'base.html' %}

{% block content %}
<style>
    
    h2, p{
        display: grid;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

</style>
<h2>Bem vindo a Genius Lab !</h2>
<p>Conheça o nosso gerenciamento e os livros que estão há um clique de você !</p>
<div style="display: grid; grid-template-columns: 1vh, 1vh; align-content: center; text-align: start;">
    <img style="opacity: 0.5; grid-column: 1;" src="https://www.shutterstock.com/image-photo/library-education-knowlage-background-study-600nw-2492407091.jpg" alt="Biblioteca img" width="100%">
    <p style="grid-column: 2; text-align: start; width: 50%; margin-left: 20px; font-weight: bold;">
        Nosso sistema integrado que garante segurança e rapidez para a sua leitura.
        uma solução prática e eficiente para gerenciar empréstimos, 
        devoluções e organização de acervo. Com uma interface intuitiva, 
        permite cadastrar livros, consultar disponibilidade e acompanhar o 
        histórico de movimentação, 
        facilitando o dia a dia tanto para bibliotecários quanto para os leitores.
    </p>
</div>

{% endblock %}

